

$productsPerRow: 3;

.catalog {

  padding: 2rem;
  max-width: 60rem;
  margin: 0 auto;
  
  &__products {
    display: grid;
    grid-template-columns: repeat(#{$productsPerRow}, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
  }

}

@media screen and (max-width: 56em) {
  .catalog {
    
    &__products {
      grid-template-columns: 1fr;
    }

  }
}
