@import "colors.scss";

.cartOverview {

  &__button {
    background-color: $primary;
    border: none;
    color: $secondary;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5rem;

    &:hover {
      color: $active;
      transition: 0.1s;
    }
  }
}
