
.actions {

  margin-top: 4rem;

  &__form {
    & > div > p {
      font-size: 1.25rem;
      font-weight: bold;
      margin: 0;
      margin-bottom: 0.5rem;
    }

    & > div > input {
      width: 100%;
      padding: 1rem;
      margin: 0;
      margin-bottom: 2rem;
      font-size: 1rem;
      box-sizing: border-box;
    }

  }

  &__checkout {
    background-color: navy;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
  }

  &__clear {
    @extend .actions__checkout;
    margin-left: 2rem;
    background-color: red;
  }

}
